:root{
    font-family: 'Public Sans', sans-serif;
    --blueberry: #1F4373;
    --veg: #96A61F;
    --grain: #BF9004;
    --toast: #73532D;
    --cranberry: #A64037
}

h1, h2, h3{
    font-weight: 800;
}

body{
    font-weight: 500;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#skip
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip:focus
{
position:static;
width:auto;
height:auto;
}

#menuToggle {
    display: block; 
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
#menu-toggle a {
	text-decoration: none;
	color: var(--black);
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

#menu-toggle a:hover {
	color: white;
	background-color: #000;
}
  
#menuToggle input {
    display: block;
    width: 80px;
    height: 80px;  
	position: absolute;  
	padding: 0;
	cursor: pointer;  
	opacity: 0;
	z-index: 2; 
	-webkit-touch-callout: none;
}
  
#menuToggle label {
	width: 200px;
	height: 50px;
	margin: auto;
	display: block;
	position: relative;
	font-size: 1rem;
	z-index: 1;  
	-webkit-transform-origin: 4px 0px;  
	-ms-transform-origin: 4px 0px;  
	transform-origin: 4px 0px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    right: -200%;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease; 
}
  
#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    right: 0;
}

header {
    display: grid;
    grid-template-columns: 80% 20% 20%;
}

header nav, header a{
    width: 100%;
}

#ad{
    
}